@model IEnumerable<Prova1_M_5.Models.ViolazioniImportoMaggiore400ViewModel>

@{
    ViewData["Title"] = "Violazioni con Importo Maggiore di 400 Euro";
}

<div class="container mt-4">
    <h1 class="mb-4 text-center text-light">Violazioni con Importo Maggiore di 400 Euro</h1>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Importo</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Data Violazione</th>
                <th>Decurtamento Punti</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Importo</td>
                    <td>@item.Cognome</td>
                    <td>@item.Nome</td>
                    <td>@item.DataViolazione.ToString("dd/MM/yyyy")</td>
                    <td>@item.DecurtamentoPunti</td>
                </tr>
            }
        </tbody>
    </table>
</div>